<div class="container">
    <div class="card card-container">
      <form class="form-horizontal">
        <fieldset style="padding: 3%;">
          
          <div id="legend">
            <legend class="centru"><b>List of all caregivers</b></legend>
          </div>
           
          <mat-card class="example-card" *ngFor="let cv of allCaregivers">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url('https://previews.123rf.com/images/jemastock/jemastock1905/jemastock190516033/122409184-medical-teamwork-avatar-doctor-and-patient-with-plaster-vector-illustration-graphic-design.jpg')"></div>
              <mat-card-title><i class="centru">{{cv.name}}</i></mat-card-title>
              <mat-card-subtitle><i class="centru">{{cv.id}}</i></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://image.shutterstock.com/image-vector/vector-modern-flat-nursing-house-600w-1474013621.jpg" alt="Photo of Caregiver">
            <mat-card-content>
              <p><b>
                Location: {{cv.address}}
              </b></p>
              <p><b>
                Gendre: {{cv.gender}}
              </b></p>
            </mat-card-content>
            <mat-card-actions>
                <div style="text-align:center;">
                    <button mat-raised-button color="primary" (click)="viewDetails(cv.id)" >View details</button>
                    <button mat-raised-button color="accent" (click)="TODO" style="background-color: cadetblue;">Update info</button>
                    <button mat-raised-button color="warn" (click)="deleteById(cv.id)">Delete</button>
              </div>
            </mat-card-actions>
          </mat-card>
          
          <b *ngIf="allPatients?.length === 0">There are currently no caregivers!</b>
       
        </fieldset>
      </form>
    </div>
  </div>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  