<h1 mat-dialog-title style="text-align: center;">Are you sure you want to delete this patient?</h1>

<div mat-dialog-actions>
    <button mat-raised-button color="warn" [mat-dialog-close]="true" (click)="confirm()" >Yes</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="false" (click)="exit()" mat-dialog-close >No</button>
</div>