<h1 mat-dialog-title style="text-align: center;">Patient details</h1>

<div mat-dialog-content>
  <p> Username: {{patient.username}} </p>
  <p> Gender: {{patient.gender}} </p>
  <p> Birthdate: {{patient.birthDate}} </p>
  <p>Caregiver: {{patient?.caregiver?.name ? patient.caregiver.name:'N/A'}} </p>
  <p>Medical Record: {{patient?.medicalRecord? patient.medicalRecord:'N/A'}} </p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="accent" style="background-color: cadetblue;" cdkFocusInitial (click)="onClose()">Close details</button>
</div>