.example-card {
  max-width: 350px;
  display: inline-block;
  text-align: center;
  margin: 6px 8px;
}

.example-header-image {
  text-align: center;
  background-size: cover;
}

.container{
  margin-top:70px;
}

.centru{
color: darkblue;
text-align: center;
}