<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset style="padding: 2%;">
        
        <div id="legend">
          <legend class="centru"><b>List of all patients</b></legend>
        </div>
         
        <mat-card class="example-card" *ngFor="let pat of allPatients">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('https://previews.123rf.com/images/jemastock/jemastock1905/jemastock190516033/122409184-medical-teamwork-avatar-doctor-and-patient-with-plaster-vector-illustration-graphic-design.jpg')"></div>
            <mat-card-title><i class="centru">{{pat.name}}</i></mat-card-title>
            <mat-card-subtitle><i class="centru">{{pat.id}}</i></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{pat.imgUrl}}" alt="Photo of Patient">
          <mat-card-content>
            <p><b>
              Location: {{pat.address}}
            </b></p>
            <p><b>
              Gendre: {{pat.gender}}
            </b></p>
          </mat-card-content>
          <mat-card-actions>
              <div style="text-align:center;">
                  <button mat-raised-button color="primary" (click)="viewDetails(pat.id)" >View details</button>
                  <button mat-raised-button color="accent" style="background-color: cadetblue;">Update info</button>
                  <button mat-raised-button color="warn">Delete</button>
            </div>
          </mat-card-actions>
        </mat-card>
        
        <b *ngIf="allPatients?.length === 0">There are currently no patients!</b>
     
      </fieldset>
    </form>
  </div>
</div>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
