<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset style="padding: 3%;">

        <div id="legend">
          <legend class="centru"><b>Register Form</b></legend>
        </div>

        <div class="control-group">
          <label class="control-label" for="username">Username<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="text" matTooltip="The username you will use to Log-in" [(ngModel)]="patient.username" id="username"
              required name="username" placeholder="" #username="ngModel" class="input-xlarge">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">Please
              fill the Username</div>
            <p class="help-block">Username can contain any letters or numbers, without spaces</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="name">Name<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input matTooltip="Your real life name" type="text" required [(ngModel)]="patient.name" name="name"
              placeholder="" class="input-xlarge" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">Please
              fill the Name</div>
            <p class="help-block">Please enter your name</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="address">Address<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="address" matTooltip="Your home address" id="address" required name="address"
              placeholder="" class="input-xlarge" [(ngModel)]="patient.address" #address="ngModel">
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert alert-danger">Please
              provide valid address</div>
            <p class="help-block">Please provide valid address</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">Password<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input matTooltip="Your account password" type="password" required pattern=".{4,}" id="password" name="password"
              placeholder="" class="input-xlarge" #password="ngModel" [(ngModel)]="patient.password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">Password
              should contain at least 5 characters!</div>
            <p class="help-block">Password should be at least 5 characters long</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="gender">Gender<b>
              <font color="red"> *</font>
            </b></label>
          <div class="controls">
            <input type="text" matTooltip="Gender" required pattern=".{1}" id="gender" name="gender"
              placeholder="" class="input-xlarge" [(ngModel)]="patient.gender" #gender="ngModel">
            <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="alert alert-danger">Please
              fill the gender with only 1 character</div>
            <p class="help-block">Please enter gender</p>
          </div>
        </div>

        <div style="text-align:center;">
        <div class="control-group">
          <div class="controls">
            <p class="help-block"><b>All fields marked with</b><b>
                <font color="red"> *</font>
              </b><b>are mandatory!</b></p>
            <button [disabled]="username.invalid || password.invalid || gender.invalid || address.invalid || name.invalid"
              class="btn btn-success" (click)="addPatient(patient)">Register</button>
          </div>
        </div>
        </div>
        
      </fieldset>
    </form>
  </div>
</div>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
