<!-- Navbar (sit on top) -->
<div class="w3-top">

  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="home" class="w3-bar-item w3-button" matTooltip="Explore our site"><b>Medical Awarness</b></a>

    <div class="w3-right w3-hide-small">
        <button *ngIf="userService.isUserLoggedIn()" class="w3-bar-item w3-button" (click)="logout()"><img src="assets/images/log-out.png" width="25"
          height="25"><b>Logout</b></button>
      <button *ngIf="userService.isUserLoggedIn()" mat-button [matMenuTriggerFor]="menu" matTooltip="Check your account"><img src="assets/images/my-acc.png" width="23"
          height="23"><b>{{( sessionUser | async)?.name}} Account</b>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navToPatients()"><b>Patients</b></button>
        <button mat-menu-item (click)="navigateToPersonalDetails()"><b>Personal Details</b></button>
        <button mat-menu-item (click)="navToCaregivers()"><b>Caregivers</b></button>
        <button mat-menu-item (click)="navToMedications()"><b>Medications</b></button>
      </mat-menu>
      <button (click)="navigateToLogin()" matTooltip="Log-in" class="w3-bar-item w3-button" *ngIf="!userService.isUserLoggedIn()"><img
          src="assets/images/log-in.png" width="25" height="25"><b>Login</b></button>
      <button *ngIf="!userService.isUserLoggedIn()" (click)="navigateToRegister()" matTooltip="Create a new account" class="w3-bar-item w3-button"><img src="http://cdn.onlinewebfonts.com/svg/img_356567.png"
          width="25" height="25"><b>Register</b></button>
      <!--TO DO-->
      <button *ngIf="userService.isUserLoggedIn()" (click)="navigateToHome()" matTooltip="Go to main page" class="w3-bar-item w3-button"><img src="assets/images/home.svg"
          width="21" height="21"><b>Home</b></button>

    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<router-outlet></router-outlet>
