<h1 mat-dialog-title style="text-align: center;">Caregiver details</h1>

<div mat-dialog-content>
  <p> Username: {{caregiver.username}} </p>
  <p> Gender: {{caregiver.gender}} </p>
  <p> Birthdate: {{caregiver.birthDate}} </p>
  <p> Assigned Pattients: {{caregiver?.patients?.name}} </p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="accent"style="background-color: cadetblue;" (click)="exit()">Close details</button>
</div>