<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset style="padding: 2%;">
        
        <div id="legend">
          <legend class="centru"><b>Your Personal Details</b></legend>
        </div>

          <div class="card">
            <div class="container-fliud">
              <div class="wrapper row">
                <div class="preview col-md-6">
                  
                  <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1">
                      <img src="{{sessionUser.imgUrl}}" /></div>
                  </div>
                  
                </div>
                <div class="details col-md-6">
                  <h3 class="product-title">{{sessionUser.name}}</h3>
                  <div class="rating">
                    <div class="stars">
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                    </div>
                  </div>
                  <p class="product-description">Your personal caregiver is : {{sessionUser.caregiver.name}} </p>
                  <p class="product-description">To ensure everithing is ok, please take a look at your medical record </p>
                  <p class="product-description">{{sessionUser.medicalRecord}} </p>
                  <h4 class="price">Address <span>{{sessionUser.address}}</span></h4>
                  <h4 class="price">Username <span>{{sessionUser.username}}</span></h4>
                  <h4 class="price">Birthdate <span>{{sessionUser.birthDate}}</span></h4>
                  <h4 class="price">Gender <span>{{sessionUser.gender}}</span></h4>
                  <div class="action">
                    <button class="add-to-cart btn btn-default" type="button">Update info</button>              
                  </div>
                </div>
              </div>
            </div>
          </div>
     
      </fieldset>
    </form>
  </div>
</div>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
