<div class="container">
  <div class="card card-container">
    <form class="form-horizontal">
      <fieldset>

        <div id="legend">
          <legend class="centru"><b>Medications</b></legend>
        </div>
        <div class="control-group">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="text-align:initial;color:darkblue">Identification</th>
                <th scope="col" style="text-align:initial;color:darkblue">Name</th>
                <th scope="col" style="text-align:initial;color:darkblue">Dosage</th>
                <th scope="col" style="text-align:initial;color:darkblue">Side effects</th>
                <th scope="col" style="text-align:initial;color:darkblue">Remove medication</th>
                <th scope="col" style="text-align:initial;color:darkblue">Upadte medication info</th>
              </tr>
            </thead>
            <tbody>

              <tr class="table-secondary" *ngFor="let med of allMedications">
                <td>{{med.id}}</td>
                <td>{{med.name}}</td>
                <td>{{med.dosage}}</td>
                <td>{{med.sideEffects}}</td>
                <td><button (click)="deleteMedicationById(med.id)" mat-raised-button color="warn">Remove</button></td>
                <td><button (click)="todo(med.id)" mat-raised-button color="primary">Update</button></td>
              </tr>
            </tbody>
          </table>

          <b *ngIf="allMedications?.length === 0">There are no medications!</b>

          <div style="text-align:center;">
            <button mat-raised-button color="primary" style="background-color:forestgreen;">Add new</button>
          </div>

        </div>
      </fieldset>
    </form>
  </div>
</div>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>