
<!-- Header -->
<h1 class="w3-center">Welcome to Medical Awarness application</h1><br>
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:600px" id="home">
    <h1 class="w3-center">Welcome to Medical Awarness application</h1><br>
  <img class="w3-image" src="assets/images/doctor2.jpg" alt="Doctor" width="1500" height="700">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
  </div>
  <h1 class="w3-center">We are pleased to help everyone that seeks medical attention</h1><br>
  <img class="w3-image" src="assets/images/doctor3.jpg" alt="Doctor" width="1500" height="700">
<div class="w3-display-bottomleft w3-padding-large w3-opacity">
  <h1 class="w3-xxlarge">People we love</h1>
</div>

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="assets/images/doctor1.jpg" alt="Doctor"  class="w3-round w3-image w3-opacity-min"  width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Medical Awarness</h1><br>
      <h5 class="w3-center">Why did we come up with this ideea?</h5>
      <p class="w3-large">Our network of multi-speciality clinics in Bucharest and the country: 38 of our own locations) Bucharest,
         Cluj, Brasov, Constanta, Bacau, Craiova, Pitesti, Iasi, Timisoara, Targu Mures, Lugoj) 
         and over 180 partner multi-speciality clinics throughtout the country. 
      <span>Healthy mind and healthy body
    </span>
        -this is our motto!</p>
      <p class="w3-large w3-text-grey w3-hide-medium">ONE OF THE LEADERS IN PREMIUM HEALTHCARE, FOR OVER 20 YEARS</p>
    </div>
  </div>


  <!-- End page content -->
</div>
